{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<html>
  <head>
    <script src="https://use.fontawesome.com/fa55bdd563.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Simplyfying website">
    <meta name="keywords" content="We deal,design">
    <title>Simplyfying</title>
    <link rel="stylesheet" href="./css/screen.css">
    <link rel="stylesheet" href="./css/fontsaws/css/font-awesome.min.css">

   </head>
<body>
  <div class="container">
  </div>
  <header>
      <div>
        <div class="my-one col-6"><h1>Simplyfyin<span class="for-g">g</span></h1></div>
        <div class="my-two "><i class="fa fa-bars fa-4x"></i></div>
      </div>
 </header>
 <main id="site-main" class="site-main outer" role="main">
   <div class="inner">
          <div class="row">
            <div class="my-three col-8">
              <text class="wdi">We deal in,</text>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="bo-txt row">
                 <div class="sc-vxr col-4">&nbsp;</div>
                 <div class="sc-vxr col-4">
                   <text class="dig">design.</text>
                 </div>
                 <div class="sc-vxr col-4"></div>
        </div>
      </div>
  </div>
</main>
 <footer>
        <section class="mail-phone">
        <div class ="mailandphone">
        <div class="ff1"> <i class="fa fa-envelope-open-o fa-2x"></i> hi@simplyfyin<span class="for-hi-g">g</span>.com
        </div>
        <div class="ff3"><i class="fa fa-phone fa-2x"></i> +1 323 825-1687</div>
        </div>
        <div class="ff2-a-b">
          <text class="BLACF">Built in Los Angeles, California.</text>
        </div>
        <div class="ff2-c">
          <text class="cpy2017">Copyright 2017</text>
          <text class="smpfn"> Simplyfyin</text>
          <text class="for-hi-g">g</text></div>
      </section>
  </footer>
</body>
</html>
