{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Simplyfying website">
    <meta name="keywords" content="We deal, digital,design,ideas,technology">
    <title>Simplyfying</title>
    <link rel="stylesheet" href="./css/screen.css">
   </head>
<body>
  <div class="container">
  </div>
  <header>
      <div>
        <div class="my-one col-6"><h1>Simplyfying</h1></div>
        <div class="my-two col-6"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-256.png" width="50px"/></div>
      </div>
 </header>
 <main id="site-main" class="site-main outer" role="main">
   <div class="inner">
          <div class="row">
            <div class="my-three col-8">
              <text class="wdi">We deal in,</text>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="bo-txt row">
                 <div class="sc-vxr col-4">&nbsp;</div>
                 <div class="sc-vxr col-4">
                   <text class="dig">design.</text>
                 </div>
                 <div class="sc-vxr col-4"></div>
        </div>
      </div>
  </div>
</main>
 <footer>
    <div class="col-12">
        <div class="ff1 col-3">hi@ simplyfying.com<img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/3d-glossy-orange-orbs-icons-social-media-logos/106368-3d-glossy-orange-orb-icon-social-media-logos-mail.png" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="30" height="30" style="margin-top:15px;" alt="Image result for mail logo"></div>
        <div class="ff2 col-6">Built in Los Angeles, California.<br>
        </br>Copyright 2017 Simplyfying</div>
        <div class="ff3 col-3"><img src="https://cdn4.iconfinder.com/data/icons/social-icons-6/40/phone-512.png" alt="Image result for phone logo png" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="50" height="50" style="margin-top: 155px;"> +1 3238251687</div>
    </div>
  </footer>

</body>
</html>
